{% set export = exportId ? craft.exports.id(exportId).one() : create('studioespresso\\exporter\\elements\\ExportElement') %}
{% import "_includes/forms" as forms %}

<form sprig s-action="exporter/element/step1" s-method="post">
    {% if export.id %}
        {{ hiddenInput('elementId', export.id) }}
    {% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t('exporter'),
        instructions: "What this export will be called in the CP."|t('exporter'),
        id: 'name',
        name: 'name',
        value: name ?? export.name,
        errors: export.getErrors('name'),
        autofocus: true,
        required: true
    }) }}

    {% if export.id %}
        {% set settings = export.getSettings() %}
        {% set elementType = export.elementType %}
        {% set showSiteOptions = true %}
    {% else %}
        {% set elementType = "craft\\elements\\Entry" %}
        {% set showSiteOptions = false %}
    {% endif %}

    <div class="field" tabindex="-1">
        <div class="heading">
            <label id="elementType-label" for="elementType">Element Type<span
                        class="visually-hidden">Required</span><span class="required" aria-hidden="true"></span></label>
        </div>
        <div id="elementType-instructions" class="instructions"><p>Choose which type of element you want to export.</p>
        </div>
        <div class="input ltr">
            <div class="select">
                <select sprig name="elementType" id="elementType" aria-describedby="elementType-instructions"
                        aria-labelledby="elementType-label">
                    {% for type in elementTypeOptions %}
                        <option value="{{ type }}" {{ elementType == type ? 'selected' }}>{{ type|split('\\')|last }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    {% if elementType == 'craft\\elements\\Entry' %}

        {% set settings = settings ?? [] %}
        {% if settings %}
            {% set section = settings.section %}
            {% set entryType = settings.entryType ?? '' %}
        {% else %}
            {% set entryType = '' %}
            {% set section = '' %}
        {% endif %}
        <div class="flex-fields">
            <div class="field width-50" id="elementType-entry-subfields">
                <div class="heading">
                    <label id="section-label" for="section">Section<span
                                class="visually-hidden">Required</span><span class="required" aria-hidden="true"></span></label>
                </div>
                <div id="section-instructions" class="instructions"><p>Choose a section from which you want to start
                        your
                        export</p>
                </div>
                <div class="input ltr">
                    <div class="select">
                        <select sprig name="settings[section]" id="section" aria-describedby="section-instructions"
                                aria-labelledby="section-label">
                            <option value="" selected>---</option>
                            {% for s in craft.app.sections.getAllSections() %}
                                <option value="{{ s.id }}" {{ section == s.id ? 'selected' }}>{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {% if section %}
                <div class="field width-50" id="elementType-entry-subfields">
                    <div class="heading">
                        <label id="section-label" for="section">Entry Type<span
                                    class="visually-hidden">Required</span><span class="required"
                                                                                 aria-hidden="true"></span></label>
                    </div>
                    <div id="section-instructions" class="instructions"><p>Choose which entry type you want to
                            export</p>
                    </div>
                    <div class="input ltr">
                        <div class="select">
                            <select sprig name="settings[entryType]" id="section"
                                    aria-describedby="section-instructions"
                                    aria-labelledby="section-label">
                                <option value="" selected>---</option>
                                {% for s in craft.app.sections.getEntryTypesBySectionId(settings.section) %}
                                    <option value="{{ s.id }}" {{ entryType == s.id ? 'selected' }}>{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% elseif elementType == 'craft\\elements\\Category' %}
        {% set group = group ?? '' %}
        <div class="field" id="elementType-entry-subfields">
            <div class="heading">
                <label id="group-label" for="group">Category Group<span
                            class="visually-hidden">Required</span><span class="required"
                                                                         aria-hidden="true"></span></label>
            </div>
            <div id="group-instructions" class="instructions"><p>Choose a group from which you want to start your
                    export</p>
            </div>
            <div class="input ltr">
                <div class="select">
                    <select sprig name="group" id="group" aria-describedby="group-instructions"
                            aria-labelledby="group-label">
                        <option value="" selected>---</option>
                        {% for s in craft.app.categories.getAllGroups() %}
                            <option value="{{ s.handle }}" {{ group == s.handle ? 'selected' }}>{{ s.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}

    {% if settings is defined and settings.section is defined and settings.entryType is defined %}
        {% set showSiteOptions = true %}
    {% endif %}
    {% if showSiteOptions %}

    <div class="field">
        <div class="heading">
            <label id="site-label" for="elementType">Site<span
                        class="visually-hidden">Required</span><span class="required" aria-hidden="true"></span></label>
        </div>
        <div id="elementType-instructions" class="instructions"><p>Select one or our sites from which you want to export
                elements.</p>
        </div>
        <div class="input ltr">
            <ul>
                {% for s in craft.app.sites.getAllSites() %}
                    <li>
                        <input type="checkbox" id="{{ s.id }}" class="checkbox" name="settings[sites][]"
                               value="{{ s.id }}" {% if settings is defined and settings.sites is defined %}{% if s.id in settings.sites %}checked{% endif %}{% endif%} >
                        <label for="{{ s.id }}">
                            {{ s.name }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <hr>
    <div class="field">
        {{ hiddenInput('nextStep', '2') }}
        <button type="submit" class="btn submit">{{ "Next" }}</button>
    </div>

</form>