{% if exportId is not defined %}
    {% redirect 'exporter' %}
{% endif %}

{% set export = craft.exports.id(exportId).one() %}

{% import "_includes/forms" as forms %}

<form sprig s-action="exporter/element/step3" s-method="post">
    {{ redirectInput('') }}
    {% if export.id %}
        {{ hiddenInput('elementId', export.id) }}
    {% endif %}
    {{ d(export.getSettings()) }}
    {% set settings = settings ?? [] %}
    {% set settings = settings|merge(export.getSettings()) %}

    {% set availableTypes = [
        {value: 'xlsx', label: 'Excel (xlsx)'}
    ] %}

    <div class="field" id="elementType-entry-subfields">
        <div class="heading">
            <label id="group-label" for="group">File format<span
                        class="visually-hidden">Required</span>
                <span class="required" aria-hidden="true"></span></label>
        </div>
        <div id="group-instructions" class="instructions">
            <p>As what file do you want to receive this export?</p>
        </div>
        <div class="input ltr">
            <div class="select">
                <select sprig name="settings[fileType]" id="group" aria-describedby="group-instructions"
                        aria-labelledby="group-label">
                    {#                    <option value="" selected>---</option> #}
                    {% for type in availableTypes %}
                        <option value="{{ type.value }}">{{ type.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <hr>
    {{ d(settings) }}
    <h2>{{ "Export delivery"|t('exporter') }}</h2>
    {{ hiddenInput('settings[deliveryType]', 'email') }}
    {{ forms.textField({
        first: true,
        label: "Email address?"|t('exporter'),
        instructions: "Your export will be delivered by e-mail. Who should receive that e-mail?<br> To enter more than one address, seperate the with a comma."|t('exporter'),
        id: 'email',
        name: 'settings[email]',
        value: settings.email ?? '',
        errors: export.getErrors('email'),
        required: true
    }) }}
{#    {{ d(settings) }}#}
{#    {% if settings.deliveryType is defined and settings.deliveryType == 'email' %}#}
{#        hier#}
{#    {% endif %}#}
    <hr>
    <div class="field">
        <button type="submit" class="btn submit">{{ "Next" }}</button>
    </div>
</form>